.cssfont {background-color: green;}
.cssfont {font-family: 'Fuzzy Bubbles', cursive;}
.judul {font-family: 'Fuzzy Bubbles', cursive;}
#paragraf2 {font-family: 'Fuzzy Bubbles', cursive;}
#paragraf2 {background-color: yellowgreen;}
strong {background-color:black;}
strong {color: white;}
.tombol1{
    text-decoration: none;
    color: black;
    margin: 20px auto;
}
button {
    width: 100px;
    height: 50px;
    margin: auto;
    background-color: yellowgreen;
}