div {
    width: 200px;
    height: 50px;
    border: 4px solid green;
    margin: 10px;
}
.satu {border-radius: 10px;}
.dua {border-radius: 20px;}
.tiga {border-radius: 30px;}
.empat {border-radius: 40px;}
.tombol1{
    text-decoration: none;
    color: black;
    margin: 20px auto;
    border-color: green;
}
button {
    width: 100px;
    height: 50px;
    margin: 20px auto;   
    background-color: white;
}